# .gitignore

# make and build files
*.o
#Ignore Pycache files
__pycache__/

# Ignore Local Dataset 
server_ML/PRE_DATASET/*
server_ML/mlruns
server_ML/mlartifacts
server_ML/.vscode

*.exe
*.pem
*.env*

# folders
*/certs
*/venv
