# Place your local configuration in /etc/mosquitto/conf.d/

per_listener_settings true
log_dest file <log file path>
log_timestamp_format %Y-%m-%d_%H:%M:%S

listener <port> <ip>
allow_anonymous false
password_file <password file path>
max_inflight_messages 0